 .button {
  color: white;
  border-radius: 5px;
  border: none;
  height: 40px;
  background-color:  #fe2c55;
  margin: 10px;
  width: 100px;
  outline: none;
  cursor: pointer;
}

.container {
  padding: 20px;
}

.groupButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-card {

  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  border: solid 1px #ccc;
  border-radius: 8px;

  width: 50%;
}

.title {
  display: flex;
  justify-content: center;
}

.valor {
  display: flex;
  justify-content: center;
  color: #ccc;
}

.img {
  width: 50%;
}

.content {

  display: flex;
  justify-content: center;
  align-items: center;
}